/.python-version
/.venv

*.sqlite3
db.sqlite3

# Django stuff
*.log
local_settings.py

*.pyc
__pycache__/  
# the above line ignores all __pycache__ directories everywhere
$py.class

# # Static asset build output
# /static/
# /staticfiles/
# /build/
# /dist/

# # Python
#__pycache__/
# *.py[cod]
# *.pyo
# *.pyd
# *.pyc

# # Django
# db.sqlite3
# *.log
# *.pot
# *.pyc
# *.mo
# *.swp

# # VS Code
# .vscode/

# # OS files
# .DS_Store
# Thumbs.db

# # Migrations
# **/migrations/
# !**/migrations/__init__.py
# myproject/notes/migrations/0001_initial.py
# myproject/notes/migrations/0002_note_image.py

